// HEADER-TOP

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__link{
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.header-top__link:not(:last-child){
  margin-right: 33px;
}