
.site-footer__top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.site-footer__top-content{
  width: calc(100% / 4 - 30px);
}

.footer-top__title{
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.footer-top__list{
  margin: 0;
  padding: 0;
}

.footer-top__link{
  text-decoration: none;
}

.footer-top__link:not(:last-child){
  margin-bottom: 16px;
}

@media only screen and (max-width: 800px) {

  .site-footer__top-content{
    // text-align: center;
    width: calc(100% / 2 - 50px);
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 400px) {

  .site-footer__top-content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}
